
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

.psychologist{
    background: whitesmoke;
}

div#root{
    background:  whitesmoke;
}
/* NAVBAR CSS ///////////////////////////////////////////////////////////////////////////////////////////////*/
h1.logo {
    float: left;
}

.col-xs-7.col-sm-7.col-md-7.col-lg-7.navbar-left {
    background: #d8e0e8;
    padding-top: 10px;
    padding-bottom: 10px;
}

header.App-header {
    background: #e2e3e4;
}
a.homePage, a.category,a.register,a.login {
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    margin-left: 40px;
    margin-top: 24px;
}



.col-xs-5.col-sm-5.col-md-5.col-lg-5.navbar-right {
    background: #cacaca;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.login, a.register {
    float: right;
}
header.App-header {
    background: #2c3e50;
}

.col-xs-7.col-sm-7.col-md-7.col-lg-7.navbar-left {
    background: #2c3e50;
    color: lightyellow;
}

a.homePage, a.category, a.register, a.login {
    color: lightyellow;
}

a.homePage:hover, a.category:hover, a.register:hover, a.login:hover {
    text-decoration: none;
    color: lawngreen;
    transition: 0.5s;
}

.col-xs-5.col-sm-5.col-md-5.col-lg-5.navbar-right {
    background: #2c3e50;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* Banner CSS //////////////////////////////////////////////////////////////////////////////////////////////*/

@keyframes bannerBack {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: -50% -100%;
    }
    100% {
        background-position: -100% -200%;
    }
}

.banner:before {
    content: "";
    background: url("../images/tile-head.png") repeat fixed 0 0 #26bcb5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: bannerBack;
    animation-duration: 70s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.banner {
    position: relative;
    height: 190px;
}

.container.banner {
    background: #e8e8e8;
    height: 180px;
}

.banner h2 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin-top: 40px;
}

p.intro {
    width: 50%;
    text-align: center;
    display: block;
    margin: auto;
}

a.askQuestion {
    text-decoration: none;
    background: #fcf5e2;
    padding: 4px;
}

a.askQuestion:hover {
    color: black;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Post information CSS ////////////////////////////////////////////////////////////////////////*/
.postInfo h3 {
    font-size: 20px;
    text-align: center;
}
.postInfo {
    margin-top: 60px;
  }

.postInfo h4 {
    font-size: 18px;
}

.postInfo h4.title {
    background: aliceblue;
    padding: 5px;
}

.post button.btn.btn-info {
    float: right;
}

.col-xs-2.col-sm-2.col-md-2.col-lg-2.statics {
    text-align: center;
}

.statics h4 {
    background: lightgray;
    padding: 5px;
}

span.NumOfLikes {
    font-style: italic;
    font-size: 20px;
}

span.NumOfViews {
    font-size: 20px;
    font-style: italic;
}

/*///////////////////////////////////////////////////////////////////////*/

/* FOOTER CSS ////////////////////////////////////////////////////////////////////////////*/
.col-xs-4.col-sm-4.col-md-4.col-lg-4.aboutUs {color: gray;text-align: center;}

h3.aboutUs {
    font-size: 18px;
}

.aboutUs h4 {
    font-size: 15px;
}
.contact i.fa {
    margin: 10px;
    font-size: 35px;
    margin-top: 35px;
    transition: 0.5s;

}

i.fa.fa-facebook-square:hover {
    transform: scale(1.3);
    color: #3B5998;
    transition: 0.5s;
}

i.fa.fa-envelope:hover {
    transform: scale(1.3);
    color: #DB4437;
    transition: 0.5s;
}

i.fa.fa-twitter:hover {
    transform: scale(1.3);
    color: #1DA1F2;
    transition: 0.5s;
}

i.fa.fa-instagram:hover {
    transform: scale(1.3);
    color: orangered;
    transition: 0.5s;
}

i.fa.fa-reddit:hover {
    transform: scale(1.3);
    color: #e40000;
    transition: 0.5s;
}


h3.contact {
    font-size: 18px;
}

.footer {
    background: #2c3e50;
}

.col-xs-4.col-sm-4.col-md-4.col-lg-4.aboutUs {
    color: lightyellow;
}

.col-xs-4.col-sm-4.col-md-4.col-lg-4.contact {
    color: lightyellow;
}

.contact a{
    color: lightyellow;
}
.contact a:hover{
    color: lawngreen;
    text-decoration: none;
    transition: 0.5s;

}



.footer {
  margin-top: 60px;
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////*/




 