<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');


/* NAVBAR CSS ///////////////////////////////////////////////////////////////////////////////////////////////*/
h1.logo {
    float: left;
}

.col-xs-7.col-sm-7.col-md-7.col-lg-7.navbar-left {
    background: #d8e0e8;
    padding-top: 10px;
    padding-bottom: 10px;
}

header.App-header {
    background: #e2e3e4;
}
a.homePage, a.catagory,a.register,a.login {
    color: #0a6db7;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    margin-left: 40px;
    margin-top: 24px;
}

a.homePage:hover, a.catagory:hover,a.register:hover, a.login:hover {
    color: #687688;
}

.col-xs-5.col-sm-5.col-md-5.col-lg-5.navbar-right {
    background: #cacaca;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.login, a.register {
    float: right;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* Banner CSS //////////////////////////////////////////////////////////////////////////////////////////////*/

.container.banner {
    background: #e8e8e8;
    height: 180px;
}

.banner h2 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin-top: 40px;
}

p.intro {
    width: 50%;
    text-align: center;
    display: block;
    margin: auto;
}

a.askQuestion {
    text-decoration: none;
    background: #fcf5e2;
    padding: 4px;
}

a.askQuestion:hover {
    color: black;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Post information CSS ////////////////////////////////////////////////////////////////////////*/
.postInfo h3 {
    font-size: 20px;
    text-align: center;
}

.postInfo h4 {
    font-size: 18px;
}

h4.title {
    background: aliceblue;
    padding: 5px;
}

.post button.btn.btn-info {
    float: right;
}

.col-xs-2.col-sm-2.col-md-2.col-lg-2.statics {
    text-align: center;
}

.statics h4 {
    background: lightgray;
    padding: 5px;
}

span.NumOfLikes {
    font-style: italic;
    font-size: 20px;
}

span.NumOfViews {
    font-size: 20px;
    font-style: italic;
}

/*///////////////////////////////////////////////////////////////////////*/

/* FOOTER CSS ////////////////////////////////////////////////////////////////////////////*/
.col-xs-4.col-sm-4.col-md-4.col-lg-4.aboutUs {color: gray;text-align: center;}

h3.aboutUs {
    font-size: 18px;
}

.aboutUs h4 {
    font-size: 15px;
}
.contact i.fa {
    margin: 10px;
    font-size: 35px;
    margin-top: 35px;
}

i.fa.fa-facebook-square:hover {
    transform: scale(1.3);
    color: #3B5998;
}

i.fa.fa-envelope:hover {
    transform: scale(1.3);
    color: #DB4437;
}

i.fa.fa-twitter:hover {
    transform: scale(1.3);
    color: #1DA1F2;
}

i.fa.fa-instagram:hover {
    transform: scale(1.3);
    color: #262626;
}

i.fa.fa-reddit:hover {
    transform: scale(1.3);
    color: #e40000;
}

.contact a {
    color: #424242;
}

h3.contact {
    font-size: 18px;
}

.col-xs-4.col-sm-4.col-md-4.col-lg-4.contact {
    color: gray;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////*/
=======


/* Login Css */

html {
  
  
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color:#f5f5f5;
}
.wrapper a {
  color:#92badd;
  display:inline-block;
  text-decoration: none;
  font-weight:40;
}

.wrapper h2 {
  text-align: center;
  font-size:16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin:40px 8px 10px 8px;
  color:#cccccc;
}

.wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding:20px;

}

.formContent {
  
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.formFooter{
  background-color: #f6f6f6;
  border-top:1px solid #dce8f1;
  padding:25px;
  text-align:center;
  border-radius:0 0 10px 10px;
}

.wrapper h2.inactive{
  color:#cccccc;
}

.wrapper h2.active{
  color:#0d0d0d;
  border-bottom:2px solid #5fbae9;
}

 .wrapper input[type=submit]{
  background-color: #56baed;
  border:none;
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  color:white;
  padding:15px 80px;
  text-align:center;
  text-transform: uppercase;
  display:block;
  font-size:13px;
  border-radius:5px 5px 5px 5px;
  margin:5px auto;


}

.wrapper input[type=submit]:hover{
   background-color: #39ace7;
   cursor: pointer;
}

.wrapper input[type=submit]:active{
  transition-delay: 0.3s;
  transform: scale(0.95);
}

.wrapper input[type=text],.wrapper input[type=password]{
  background-color: #f6f6f6;
  
  color:#0d0d0d;
  padding:15px 32px;
  text-align:center;
  display:inline-block;
  font-size:16px;
  margin:5px;
  width:85%;
  border:1px solid #f6f6f6;
  border-radius:5px;
}

.wrapper input[type=text]:focus,.wrapper input[type=password]:focus{
   border-bottom:2px solid #5fbae9;
   background-color:#fff;
   outline: none;
}

.wrapper input[type=checkbox]{
  display:inline-block;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.underlineHover{
  color:#60a0ff;
}
.underlineHover:hover, .forgot-password:hover{
  color:#0d0d0d;
}
.wrapper h1{
  color:#60a0ff;
  padding :10px 5px;
}

#icon{
  width:30%;
}

#lbal{
color: #7e7878;
}

.forgot-password {
  color: rgb(104, 145, 162);
  display:block;
}

/*  Category Css  */
.my-table thead th {
  background-color: #169fe6;
  border-color:#169fe6;
  color:#ffffff;
  font-family: 'Roboto Condensed','Arial','Helvetica',sans-serif;
  font-size:14px;
  text-transform: uppercase;
  font-weight: 700;
}

.my-table tr td.my-td:nth-child(2n) {
  font-weight:lighter;
  color:#94a0a0;
  text-align: center;
  vertical-align: middle;
  background-color:#e4e9eb;;
   
}

.lastpostavatar,  {
  padding:0;
  display:block;
  
}
.info {
  font-size:11px;
  padding:0;
  float:left;
}


.lastpostavatar img {
  margin:3px 10px 3px 0px;
  border-radius:50%;
  border:none;
  width:30px;
  display:inline-block;
}
a.lastsubject{
  font-weight:600;
  color:#676767;
  display:inline-block;
  font-size :15px;
}

 .lastauthor {
  color:#AA0000;
  font-size:15px;
  font-weight:500;
} 

.my-table tbody tr{
 border: 10px solid #f5f5f5;;
 border-collapse: collapse;
 box-sizing: content-box;
 background: #ffffff;

}


.desc-wrapper {
  display:block;
  padding:12px 20px 5px 54px;
  word-break:break-all;
}
.desc-wrapper a{
  font-weight:600;
  color:#676767;
}
.forum-image img {
  display:block;
  float:left;
}

.my-table tr:hover {
  background: #e4e9eb;
}
.my-table a:hover {
  text-decoration: none;
  color:#169fe6;
  
}

.time {
  font-size:13px;
  color:#676767;
  font-weight: 600;
}

.row-icon{
  color:#df985c;
}


/*  Register css */

.control-label {
  color:#60a0ff;
  font-weight: 600;
  
}

.accept {
font-size:13px;
display: inline-block;
padding: 0 0 5px 0 ;
}

.title {
  color:#60a0ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:30px;
}

.contentRegister {
  background: #ffffff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
 
}
.abc{
  
  position: absolute;
  top:50%;
  left:50%;
  transform: translateX(-25%) translateY(-50%);
}

 
.nutBam:click{

  border:none;
  outline:none;
}

/* LoginHome Css */
 .signin-text{
   font-family: "Asap","Arial","Helvetica",sans-serif;
   font-weight:800;
   font-size:15px;
   margin-bottom:25px;
   text-align: center;
   text-transform: uppercase;
   color:#999;
   position: relative;
   border-bottom:1px solid #e4e4e4;
   height:20px;

 }
 
 .signin-text span{
   position: relative;
   display:inline-block;
   padding:0 15px;
   top:50%;
   left:0;
   right:0;
   background: #f5f5f5;
 }

 .box-reg p {
   font-family:   "Asap","Arial","Helvetica",sans-serif;
   font-size:13px;
   color:#999;
 }
 .box-reg button.nutBam {
   background: #999;
   border:none;
   font-family:   "Asap","Arial","Helvetica",sans-serif;
   font-size:15px;
   color:#cccccc;

 }

 .box-reg button.nutBam:hover {
  background: #999;
  border:none;
  outline:none;
  color:#ffffff;
 }
 