@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');


/* NAVBAR CSS ///////////////////////////////////////////////////////////////////////////////////////////////*/
h1.logo {
    float: left;
}

.col-xs-7.col-sm-7.col-md-7.col-lg-7.navbar-left {
    background: #d8e0e8;
    padding-top: 10px;
    padding-bottom: 10px;
}

header.App-header {
    background: #e2e3e4;
}
a.homePage, a.catagory,a.register,a.login {
    color: #0a6db7;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    margin-left: 40px;
    margin-top: 24px;
}

a.homePage:hover, a.catagory:hover,a.register:hover, a.login:hover {
    color: #687688;
}

.col-xs-5.col-sm-5.col-md-5.col-lg-5.navbar-right {
    background: #cacaca;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.login, a.register {
    float: right;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* Banner CSS //////////////////////////////////////////////////////////////////////////////////////////////*/

.container.banner {
    background: #e8e8e8;
    height: 180px;
}

.banner h2 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin-top: 40px;
}

p.intro {
    width: 50%;
    text-align: center;
    display: block;
    margin: auto;
}

a.askQuestion {
    text-decoration: none;
    background: #fcf5e2;
    padding: 4px;
}

a.askQuestion:hover {
    color: black;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
